/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Pagina inicio */

body {
    background-color: #fff;
}

h1 {
    font-size: 99px;
    font-family: "Playfair Display", serif;
    color: #ed6d61;
}

h2 {
    font-size: 62px;
    font-family: "Playfair Display", serif;
}

h3 {
    font-size: 49px;
    color: #ed6d61;
    font-family: "Playfair Display", serif;
}

p {
    font-size: 30px;
    color: #357ba7;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #F3E4D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 0.4s;
}

.scrollOn {
    padding: 1px 12px;
    justify-content: space-around;
    transition: 0.4s;
}

.logo-canalas {
    width: 120px;
    margin: 10px 20px;
}

.navegacion {
    display: flex;
    margin: 0 auto;
}

.contenedor-navegacion {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.contenedor-navegacion li {
    padding: 5px 15px;
    margin: 0 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.contenedor-navegacion li a {
    text-decoration: none;
    color: #754D2B;
    padding: 5px 0;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #754D2B;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

button {
    text-transform: uppercase;
    padding: 12px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #357BA7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Seccion 1 */
.banner {
    padding-top: 113px;
    width: 100%;
}

/* Seccion 2 */
.seccion-2 {
    background-image: url(./../imagenes/inicio/seccion-2/fondo-seccion-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1024px;
}

.seccion-2 h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #754D2B;
    font-weight: 500;
    padding: 70px 0;
}

.contenedor-tarjeta {
    display: flex;
    justify-content: space-evenly;
    
}

.tarjeta {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tarjeta-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.producto-nombre {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #754D2B;
}

.contenedor-producto-precio {
    padding: 12px 0;
}

.producto-precio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ED6D61;

}

.contenedor-imagenes-colores-prenda  img{
    margin-right: 16px;
}

.contenedor-boton-todos-productos {
    display: flex;
    justify-content: center;
    margin: 110px 0 40px 0;
}

.contenedor-boton-todos-productos button {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #357BA7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.saber-mas {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2rem;
    color: #754D2B;
    font-weight: 500;
    margin-top: 140px;
}


/* Seccion 3 */
.seccion-3 {
    background-color: #fff;
}

.contenedor-preguntas-frecuentes {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contenedor-preguntas-frecuentes div {
    padding: 0 50px;
}

.contenedor-preguntas-frecuentes div:nth-child(2) {
    border-left: 2px solid #754D2B;
    border-right: 2px solid #754D2B;
}

.contenedor-preguntas-frecuentes p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #ED6D61;
    padding: 15px 0;
}

.preguntas-frecuentes {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 50px 0;   
}

.visita-nuestra-seccion {
    color: #754D2B;
    font-size: 1.3rem;
}

.visita-nuestra-seccion a {
    color: #357BA7;
}

/* Seccion 4 */
.contenedor-compra-canalas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f1e9;
    ;    ;
}

.ya-compraste-canalas {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2rem;
    color: #754D2B;
    font-weight: 500;
    margin: 25px 0;
}

.ver-estado-compra {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #357BA7;
    font-weight: 500;
}

.contenedor-compra-canalas button {
    text-transform: uppercase;
    padding: 12px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #357BA7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
}

/* Fin pagina inicio */

/*Inicio de Página Universo Canalas*/

.universo-canales-main {
    background-image: url(../imagenes/universo-canalas/universo-canalas.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .descripcion-canalas-contenedor {
    width: 55%;
    margin: auto;
    margin-top: 118px;
    margin-bottom: 450px;
  }
  .descripcion-canalas-contenedor h1 {
    font-size: 49px;
    color: #ed6d61;
    font-family: "Playfair Display", serif;
    margin-bottom: 68px;
  }
  .descripcion-canalas-contenedor h1, .descripcion-canalas-contenedor p {
    text-align: center;
  }
  
  .historia-contenedor {
    width: 55%;
    margin: auto;
    padding-bottom: 131px;
  }
  .historia-contenedor h1,h2 {
    font-size: 49px;
    color: #ed6d61;
    font-family: "Playfair Display", serif;
    margin-bottom: 68px;
  }
  .historia-contenedor h1, h2, .historia-contenedor p {
    text-align: center;
  }



/*Fin de Página Universo Canalas*/



/*Inicio Página Cómo Comprar*/
.como-comprar-main{
    background-image: url('../imagenes/como-comprar/fondo.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
}

.como-comprar-main h1{
    font-size: 49px;
}

.pasos-comprar-contanedor{
    display: grid;
    grid-template-columns: (78px auto);
    grid-auto-rows: 117px;
    column-gap: 27px;
    width: 40%;
    margin-top: 61px;
    margin-bottom: 60px;

}
.pasos-mini-contenedor-img{
    display: flex;
    justify-content: center;  
    align-items: center;
}

.pasos-mini-contenedor-texto{
    display: flex; 
    align-items: center;
}

.img-container-1{
    grid-area: img1;
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-container-2{
    grid-area: img2; 
    grid-column: 1/2;
    grid-row: 2/3 ;   
}

.img-container-3{
    grid-area: img3;
    grid-column: 1/2;
    grid-row: 3/4;    
}

.img-container-4{
    grid-area: img4; 
    grid-column: 1/2;
    grid-row: 4/5;   
}

.img-container-5{
    grid-area: img5;
    grid-column: 1/2;
    grid-row: 5/6;    
}

.img-container-6{
    grid-area: img6; 
    grid-column: 1/2;
    grid-row:6/7 ;   
}

.text-container-1{
    grid-area: text1;
    grid-column: 2/3;
    grid-row: 1/2;
}

.text-container-2{
    grid-area: text2; 
    grid-column: 2/3;  
    grid-row: 2/3; 
}

.text-container-3{
    grid-area: text3; 
    grid-column: 2/3; 
    grid-row: 3/4;  
}

.text-container-4{
    grid-area: text4; 
    grid-column: 2/3; 
    grid-row: 4/5;  
}

.text-container-5{
    grid-area: text5; 
    grid-column: 2/3; 
    grid-row: 5/6;  
}

.text-container-6{
    grid-area: text6; 
    grid-column: 2/3;  
    grid-row: 6/7; 
}

.pasos-mini-contenedor-texto p{
    font-size: 18px;
    color: #754D2B;
    text-align: left;
    font-weight: 600;
}

.listos-contenedor{
    margin-bottom: 170px;
    
}

.listos-contenedor h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    text-align: left;
    margin-bottom: 40px;

}

.saber-mas-contenedor h3{
    font-size: 26px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.saber-mas-contenedor p{
    font-size: 26px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #754D2B;
    margin-bottom: 73px;
}

.saber-mas-contenedor p a{
    color:#357BA7;
    font-weight: 600;
}
/*Fin Página Cómo Comprar*/

/*Inicio de preguntas frecuentes*/
.preguntas-frecuentes-main{
    margin-top:140px;
    padding-bottom: 61px;
    background-image: url(../imagenes/preguntas-frecuentes/preguntas-frecuentes-background.png);
    background-repeat:no-repeat ;
    background-size: cover;
}



.preguntas-frecuentes-main h1{
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 75px;
}

.preguntas-frecuentes-main h2{
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 3px #ED6D61 solid;
    display:inline-block;
    width: auto;
    padding-left: 80px;
    padding-right: 10px;
}

.preguntas-frecuentes-main h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding-left: 80px;
    padding-right: 10px;
    color: #357BA7;
    margin-bottom: 25px;
}

.preguntas-frecuentes-main p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #754D2B;
    padding-left: 80px;
    padding-right: 120px;
    margin-bottom: 50px;
}





/*Fin de preguntas frecuentes*/






/*Inicio del Footer*/
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3E4D5;
}

footer h3{
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #754D2B;
    text-transform: uppercase;
    margin-bottom: 40px;
}
hr{
   width: 50%;
   height: 5px;
   background-color: #ed6d61;
   border: none;
   border-radius: 50px;
   
}
footer .footer-contenedor-contenido p{
    color: #754D2B;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    
}
footer .footer-col-1 p{
    margin: 0;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}


footer .footer-contenedor-contenido{
    padding: 45px 80px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #F3E4D5;
    

}
footer .contenedor-datos-contacto{
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 10px; 
}

footer .footer-col-3{
    text-align: center;
}

/*Fin del Footer*/
